/* Intro Page Styles */
.main__intro {
    margin-left: 5rem;
    margin-top: 2rem;
}

.main__intro p {
    max-width: 50%;
    margin-top: 1rem;
}

.main__intro button {
    margin-bottom: 3rem;

@media (max-width: 1200px) {
    .main__intro {
        margin-left: 1rem;
        max-width: 75%;
    }
    .main__intro p {
        max-width: 75%;
    }
}
@media (max-width: 720px) {
    header h1 {
        margin-left: 10px;
        padding: 1rem;
    }
    .main__intro {
        margin-left: 1rem;
    }
    .main__intro p {
        max-width: 100%;
    }
}


